@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {font-family: Arial, Helvetica, sans-serif;}

.sidebar {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    text-align: center;
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Portofolio */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Monoton&family=Rubik:wght@500&family=Unna:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

.data {
    margin-left: 172px;
    padding: 0px 5px;
}

.container-fluid p {
    font-style: italic;
    color: black;
    text-shadow: 0px 1.3px 1px dodgerblue;
    font-family: 'Merriweather', serif;
}

div h1 {
    color: black;
    text-shadow: 0px 1.3px 2px dodgerblue;
    font-family: 'Merriweather', serif;
}

.bio {
    margin-bottom: 10px;
}

.satu {
    text-align: left;
}

.dua {
    text-align: left;
}

.jumbotron {
    background-image: url("../Portofolio/Bootsrap/data.png");
    background-size: cover;
    height: 500px;
    background-position: 0 -155px;
}

.newsContain {
    padding-top: 40px;
}

#btn {
    font-weight: bold;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.btn a:hover {
    color: white;
}

#btn {
    border-radius: 8px;
    box-shadow: 0px 1.5px 1px white !important;
}

#form {
    width: 700px;
}

.form {
    margin-top: 5px;
}

#submit {
    color: white;
}

#submit:hover {
    color: white;
    box-shadow: 0px 1.5px 1px greenyellow !important;
}

#Input1::placeholder {
    font-family: serif;
}

.container-fluid .footer1 {
    font-style: italic;
    position: relative;
    margin-bottom: 0;
    line-height: 50px;
    text-shadow: none;
    font-size: 12px;
}

/* Form */

@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.navbar1 {
    font-size: 20px;
    padding: 15px;
    background-color: dodgerblue;
}

.font {
    margin-left: 36%;
    color: white;
    font-family: 'Playball';
    font-size: 25px;
}

.font:hover {
    text-shadow: 2px 2px 4px #000000;
}

.btn2 {
    cursor: pointer;
    border: none;
    padding: 7px 26px;
    margin: 10px;
    text-align: center;
    color: white;
    background: dodgerblue;
    border-radius: 40px;
    box-shadow: 0 10px 20px -8px black;
    font-family: sans-serif;
    font-weight: bold;
}

Input {
    border-radius: 15px;
    height: 40px;
    padding: 10px;
    border: 2px solid rgb(148, 146, 146);
}

Input:focus {
	outline: none;
  	border: 2px solid skyblue;
}