@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

/* Button Pertama */

#btn {
    font-family: 'Playfair Display SC', serif;
    border-radius: 4px;
    background-color: dodgerblue;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 1px;
    width: 250px;
    margin: 1px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    box-shadow: 0 10px 20px -8px black;
}
  
#btn:hover {
    box-shadow: 0 2px 5px -2px white;
}

/* Button Kedua */

#dropdown-basic {
    font-family: 'Playfair Display SC', serif;
    border-radius: 4px;
    background-color: dodgerblue;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 1px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    box-shadow: 0 10px 20px -8px black;
}

#dropdown-basic:hover {
    box-shadow: 0 2px 5px -2px white;
}

/* Bagian Navbar */

.navbar {
    height: 90px;
    font-size: 20px;
    padding: 30px;
    background-color: dodgerblue;
}

.font {
    margin-left: 246px;
    color: white;
    font-family: 'Playball';
    font-size: 25px;
}

#dropDown {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

/* BagiaN Search */

.has-search .form-control {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 205px;
    padding-left: 55px;
    margin-top: 40px;
    height: 50px;
    width: 900px;
    border: 1.5px solid #f2f2f2;
    box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 15%);
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form-search {
    position: absolute;
    display: block;
    padding-left: 15px;
    margin-left: 210px;
    margin-top: 8px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: x-large;
    pointer-events: none;
    color: dodgerblue;
}

/* Page */

.news {
    margin: 30px;
    max-width: 350px;
    border: 2px solid lightblue;
    box-shadow: 0 3px 5px -1px black;
    border-radius: 15px;

}

.newsData {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
img {
    max-width: 346px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
h5 {
    font-weight: bold;
    padding-top: 12px;
    margin-bottom: 20px;
}

.title {
    padding: 5px;
    margin: 5px 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
  
.author {
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.description {
    margin-left: 5px;
    text-transform: capitalize;
}
  
.btn-klik {
    font-weight: normal;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: dodgerblue;
    box-shadow: 0 10px 20px -10px black;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
  
.btn-klik:hover {
    background-color: rgb(28, 28, 131) ;
    box-shadow: 0 5px 10px -8px blue;
}

/* Footer */

.footer {
    position: relative;
    margin-top: 35px;
    margin-bottom: 0;
    line-height: 70px;
    font-family: 'Playball';
    background-color: dodgerblue;
    font-size: 20px;
}